{{#paper-toolbar}}
<div class="md-toolbar-tools">
  <h2 flex=true class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    Ember Paper - Starter App 
  </h2>
</div>
{{/paper-toolbar}}
